.greet{
    color:red;
}

#grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.clickable-tile {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 1px;
    border: solid 0.5px grey;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.clickable-tile :hover {
    background-color: blueviolet;
}